{% extends 'base/main.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4">
            Password Successfully Changed
        </h2>
        <p class="p-4 border rounded text-center">
            Your password has been successfully changed!
        </p>
        <a href="{% url 'accounts:login' %}" class="btn pcd-btn-submit-custom">
            Log in
        </a>
      </div>
    </div>
  </div>
{% endblock %}
