{% extends 'base/main.html' %}
{% block content %}
{% load account_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
<script src="{% static 'accounts/js/functions.js' %}"></script>

<div class="container mt-5">
  <div class="card">
    <div class="card-header text-white progress-bar">
      <h2 class="text-center">
        Settings
      </h2>
    </div>
    <div class="card-body">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="password-tab" data-bs-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="true">
            Change password
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="other-tab" data-bs-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false">
            Reset evaluation categories
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content p-4">
        <div class="tab-pane active" id="password" role="tabpanel" aria-labelledby="password-tab">
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="change_password">
            <div class="form-group mb-3 position-relative">
              <label for="id_old_password" class="form-label">
                Old password
              </label>
              <div class="pcf-input">
                {{ form.old_password }}
                <i id="toggleOldPassword" class="bi bi-eye-slash-fill password-toggle cursor-pointer"></i>
              </div>
              {% if form.old_password.errors %}
                <div class="text-danger">{{ form.old_password.errors.as_text }}</div>
              {% endif %}
            </div>
            <div class="form-group mb-3 position-relative">
              <label for="id_new_password1" class="form-label">
                New password
              </label>
              <div class="pcf-input">
                {{ form.new_password1 }}
                <i id="toggleNewPassword1" class="bi bi-eye-slash-fill password-toggle cursor-pointer"></i>
              </div>
              {% if form.new_password1.errors %}
                <div class="text-danger">{{ form.new_password1.errors.as_text }}</div>
              {% endif %}
            </div>
            <div class="form-group mb-3 position-relative">
              <label for="id_new_password2" class="form-label">
                Confirm the new password
              </label>
              <div class="pcf-input">
                {{ form.new_password2 }}
                <i id="toggleNewPassword2" class="bi bi-eye-slash-fill password-toggle cursor-pointer"></i>
              </div>
              {% if form.new_password2.errors %}
                <div class="text-danger">{{ form.new_password2.errors.as_text }}</div>
              {% endif %}
            </div>
            <div class="button-container">
              <a class="btn password-reset-login-button" href="{% url 'base:Dashboard' %}">
                Return to dashboard
              </a>
              <button type="submit" name="form_action" value="change_password" class="btn btn-submit-custom">
                Change password
              </button>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div id="message-container">
                {% if password_messages %}
                  {% for message in password_messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message.text }}</div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane" id="other" role="tabpanel" aria-labelledby="other-tab">
          <form method="post" id="category-form">
            {% csrf_token %}
            <input type="hidden" name="action" value="delete_answers">
            {% if categories %}
              <table class="table table-bordered centered-table">
                <thead>
                  <tr>
                    <th class="width-10">
                      <div class="checkbox-container">
                        <input type="checkbox" class="select-all" id="categories-select-all" />
                      </div>
                    </th>
                    <th class="width-90">Categories</th>
                  </tr>
                </thead>
                <tbody>
                  {% for category in categories %}

                  <tr>
                    <td>
                      <div class="checkbox-container">
                        <input type="checkbox" class="categories-checkbox" name="categories_ids" value="{{ category.id }}" />
                      </div>
                    </td>
                    <td>{{ category.name }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div class="button-container">
                <a class="btn password-reset-login-button" href="{% url 'base:Dashboard' %}">
                  Return to dashboard
                </a>
                <button type="submit" name="form_action" value="delete_answers" class="btn btn-submit-custom">
                  Reset
                </button>
              </div>
            {% else %}
              <p class="color-red">
                No categories found!
              </p>
            {% endif %}
            <div class="d-flex justify-content-between align-items-center">
              <div id="message-container">
                {% if other_messages %}
                  {% for message in other_messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message.text }}</div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
