{% extends 'base/main.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4">
          Password Change Successful
        </h2>
        <p>
            Your password has been successfully changed! You can now <a href="{% url 'accounts:login' %}">log in</a> with your new password.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
